{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Lottery
{% endblock %}

{% block content %}
    <p>
        This is the second part of the study.
    </p>
    <p>For this exercise, you have been assigned <b>{{ Constants.endowment }}</b> Experimental Currency Units
        (UME). The payment for this activity will depend solely on this endowment and your decisions in this activity.
    </p>
    <p>In the following, we will ask you to make a series of decisions based on two options. For each of the rows in the
        table below you have to make a choice between two options. Option 1 is a lottery. A lottery is like throwing a
        coin. If it comes up heads (50% probability) you will earn more ECU. If it comes up tails (50% probability), you
        will lose some ECU. Option 2, on the contrary, is not going to make you win or lose any additional ECU.
    </p>
    <p>At the end, the computer will randomly pick one of the 6 rows and will make your choice for that row effective;
        that is, if you chose option 1, you will receive the initial endowment plus the result from the lottery. If you
        chose option 2, you will receive the initial endowment only.
    </p>
    <p>
        Let us look at an example:
    </p>
    <p>If the computer picks the first row to make your choice effective and, additionally, you decide <b>to play</b>
        that lottery, you may lose 2 ECU with a probability of 50%, or, you may win 6 ECU more with a probability of
        50%. If you decide <b>not to play</b> , you will not win or lose any additional ECU.
    </p>
    <p>
        At the end of this exercise, the ECU that constitute your payment will be converted to Colombian pesos. Each
        ECU is equivalent to 1,000 Colombian pesos.
    </p>
    <p>
        If you have any questions, please raise your hand and an assistant will approach you.
    </p>
    <div class="table-responsive text-center align-middle">
        <table class="table table-bordered" style="max-width:970px; font-size: 12px">
            <tr>
                <th rowspan="2"  >Row number </th>
                <th colspan="2"  >Option 1</th>
                <th>Option 2</th>
                <th colspan="2" >Choose between Option 1 or Option 2</th>
            </tr>
            <tr>
                <th >50%</th>
                <th >50%</th>
                <th>100%</th>
                <th >Option 1</th>
                <th >Option 2</th>
            </tr>
            <tr>
                <td >1</td>
                <td>Lose 2 UME</td>
                <td>Win 6 UME</td>
                <td>0 UME</td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_1" value="1"> </label></div></td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_1" value="0"> </label></div></td>
            </tr>
            <tr>
                <td >2</td>
                <td>Lose 3 UME</td>
                <td>Win 6 UME</td>
                <td>0 UME</td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_2" value="1"> </label></div></td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_2" value="0"> </label></div></td>
            </tr>
            <tr>
                <td >3</td>
                <td>Lose 4 UME</td>
                <td>Win 6 UME</td>
                <td>0 UME</td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_3" value="1"> </label></div></td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_3" value="0"> </label></div></td>
            </tr>
            <tr>
                <td >4</td>
                <td>Lose 5 UME</td>
                <td>Win 6 UME</td>
                <td>0 UME</td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_4" value="1"> </label></div></td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_4" value="0"> </label></div></td>
            </tr>
            <tr>
                <td >5</td>
                <td>Lose 6 UME</td>
                <td>Win 6 UME</td>
                <td>0 UME</td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_5" value="1"> </label></div></td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_5" value="0"> </label></div></td>
            </tr>
            <tr>
                <td >6</td>
                <td>Lose 7 UME</td>
                <td>Win 6 UME</td>
                <td>0 UME</td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_6" value="1"> </label></div></td>
                <td><div class="radio "><label><input type="radio" name="binary_lottery_6" value="0"> </label></div></td>
            </tr>
        </table>
    </div>

    {% next_button %}

{% endblock %}

{% block styles  %}
    <link href="{% static "static_lottery/css/style_lottery.css" %}" rel="stylesheet">
{% endblock %}

