{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <p>
        This is the second part of the study.
    </p>
    <p>
        In this task, we will show you 10 exercises. In each of these exercises, you are asked to complete a logical
        sequence of images. To do so, you will have to choose the missing image from a set of five images only one of
        the options is the correct one. When you click on one of the options, the next exercise will be shown to you.
        You have 1 minute to solve as many exercises as you can.
    </p>
    <p>
        For each correct answer, you will receive 1 Experimental Currency Unit (ECU). At the end of this exercise, the
        ECU that constitute your payment will be converted to Colombian pesos. Each ECU is equivalent to 1,000 Colombian
        pesos.
    </p>
    <p>
        If you have any questions, raise your hand and some assistant will approach you to solve it.
    </p>
    <p>
        When you are ready to start, click on the "next" button.
    </p>

    {% next_button %}
{% endblock %}


{% block styles  %}
    <link href="{% static "static_raven/css/style_raven.css" %}" rel="stylesheet">
{% endblock %}

