{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed consent
{% endblock %}

{% block content %}

    <p>You have been invited to participate in a study with the objective of understanding how people make decisions.
        This research is being conducted by Andrés Felipe Montealegre Olaya, under the supervision of Professor
        Francesco Bogliacino, affiliated to the Facultad de Ciencias Económicas from the Universidad Nacional de
        Colombia. You must be of legal age to participate in this study; that is, 18 years or over.
    </p>
    <p>If you are willing to participate, you will have four tasks to complete and one decision to make. Additionally,
        you will have to answer some questions. You will do these activities in a place in which you can feel
        comfortable to do them. Participation in this activity will take approximately 1 hour of your time.
    </p>
    <p>Your participation is voluntary and you are free to leave at any time. Likewise, if you wish to leave some
        questions unanswered, please feel free to do so. However, it would be greatly appreciated if you could answer
        them all.
    </p>
    <p>This study follows the guidelines set by the Colombian Ethical Dispositions in Research, Resolution 8430 (1993),
        which has established the scientific, technical and administrative regulatory framework for scientific studies
        that involve the participation of human beings. This research is classified as one in which the participation
        of human beings is at ‘low risk’, in that it does not involve risks during or after the research for those who
        participate. A possible inconvenience associated with the research is the time it takes to complete the
        activities required.
    </p>
    <p>If there is anything related to this research that you would like clarified, if you wish to inform us of any
        problems or have questions regarding your rights as a participant or any other aspect of this research, please
        do not hesitate to contact Professor Francesco Bogliacino (phone number: (57) 316-5000 ext. 12388, e-mail:
        fbogliacino@unal.edu.co).
    </p>
    <p>By writing your name and your ID number below, you declare that you have been properly informed of the terms of
        the research and that you participate in this research voluntarily.
    </p>
    <p>Yours faithfully
    </p>
    <p>Andrés Felipe Montealegre Olaya.
    </p>
    <p>
    </p>
    <p>First name and last name: {{ form.nombre }}
    </p>
    <p>Id number: {{ form.id_number }}
    </p>


    {% next_button %}

{% endblock %}
